<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
    <xi:include href="../layout.html" />
    <head>
        <title>Create a New VM</title>
    </head>
    <body class="index">
        <dl class="breadcrumb">
            <dd><a href="/">List VMs</a></dd>
            <dd>&#62;</dd>
            <dd><strong>Create a VM</strong></dd>
        </dl>
        <form action="" method="post">
          <fieldset>
            <legend>Create Virtual Machine</legend>
          <div class="fields">
            <div>
              <label for="name">VM Name:</label>
              <input type="text" id="name" name="name" />
            </div>
            <div>
              <label for="description">Description:</label>
              <input type="text" id="description" name="description" />
            </div>
            <div>
              <label for="guest_os">Guest OS:</label>
              <select id="guest_os" name="guest_os">
                <py:for each="os_type in guest_oses">
                    <option value="${os_type.id}">${os_type.description}</option>
                </py:for>
              </select>
            </div>
            <div>
              <label for="memory">Memory Allocated (<abbr title="Megabytes">MB</abbr>):</label>
              <select id="memory" name="memory">
                <option py:for="base_memory in base_memory_maximum" value="${base_memory}">${base_memory}</option>
              </select>
            </div>
            <div>
              <label for="vram">Video Memory Allocated (<abbr title="Megabytes">MB</abbr>):</label>
              <select id="vram" name="vram">
                <option py:for="video_memory in video_memory_maximum" value="${video_memory}">${video_memory}</option>
              </select>
            </div>
          </div>
          <div class="form_actions">
            <input type="submit" value="Submit" />
            <input type="submit" name="cancel" value="Cancel" />
          </div>
          </fieldset>
        </form>
    </body>
</html>
