* { padding: 0; margin: 0; }

/*************************
 * Basic Elements
 *************************/
body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
 background: #B3B3B3;
}
h1 {
  letter-spacing: -1px;
  color:#ffffff;
  margin:1%;
}
h3, h4, h5 {
  clear:both;
  margin-bottom:0.5em;
}
ul {
  margin:0.5em 2em;
}
img {
  border:none;
}
abbr {
  cursor: help;
}
/*************************
 * Main Layout Structure
 *************************/
#wrapper {
 margin: 0 auto;
 width: 922px;
 width: 100%;
}
#header {
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100px;
  border-bottom: thin solid #ccc;
  color: #333;
  background-color: #7D88B3;
  background-image: url(/media/images/layout/header1.png);
}
#leftcolumn {
  position:absolute;
  top:105px;
  left:0;
  right:9%;
  bottom:30px;
  border: 1px solid #ccc;
  color: #333;
  background: #98A5D9;
  width: 10%;
}
#leftcolumn ul {
  margin:0.5em 0 0 1em;
}
#leftcolumn ul li {
  margin:0 0 0.5em 0.5em;
}
#rightcolumn {
  position:absolute;
  top:105px;
  left:10.5%;
  right:0;
  bottom:30px;
  border: 1px solid #ccc;
  color: #333;
  background: #D9D9D9;
  padding: 5px;
  display: inline;
}
#footer {
  position:absolute;
  bottom:0;
  left:0;
  width: 100%;
  color: #333;
  border-top: thin solid #ccc;
  background: #7D88B3;
  padding: 5px 0;
  height:15px;
}

/*************************
 * Bread Crumbs
 *************************/
dl.breadcrumb dd {
  float:left;
  margin:0 0.5em 0.5em 0;
}
dl.breadcrumb:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}

/*************************
 * SubSections
 *************************/
.vm_settings {
  padding: 0px 0px 10px 10px;
}

.vm_actions {
  padding: 0px 0px 0px 10px;
}

/*************************
 * Form Structures
 *************************/
form fieldset{
  border: thin solid #7D88B3;
  color: #000;
  background-color: #98A5D9;
  background-color: #CCCCCC;
  padding:2em 0 10px 0;
}
form fieldset legend{
  border: thin solid #7D88B3;
  background-color: #D4D4D4;
  font-weight:bold;
  padding:2px 3px;
  margin:0 0 2em 20px;
  margin:0 0 -1.5em -1px;
  font-size:1.2em;
}
form fieldset label{
  margin:0 0.5em 0 0;
  font-weight:bold;
}
form fieldset input{
  border: thin solid #7D88B3;
  padding: 1px 2px;
  background-color:#EFEFEF;
  margin-right:0;
}
form fieldset input[type="submit"]{
  cursor: pointer;
}
form fieldset input:hover{
  color:inherit;
  background-color:#E6E6E6;
}
form fieldset input:focus{
  color:inherit;
  background-color:#DEDEDE;
}
form fieldset div.fields{
  width:34em;
}
form fieldset div.fields div{
  margin:0.3em 0;
}
form fieldset div.fields div label{
  float:left;
  width:18em;
  text-align:right;
}
form fieldset div.fields div input{
  float:right;
}
form fieldset div.fields div input[type="checkbox"]{
  float:right;
}
form fieldset div.fields div:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
form fieldset div.form_actions{
  text-align:center;
}