<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" />
  <head>
    <title>Index</title>
  </head>
  <body class="index">
    <h3>Existing Virtual Machines:</h3>
    <ul py:if="vms" class="list_vms">
      <li py:for="vm in vms" class="${vm.OSTypeId.lower()}">
        <a href="/vm_info/${vm.id}">${vm.name}</a>
        <ul>
          <li><strong>State:</strong> ${VM_STATES[int(vm.state)]}</li>
          <li><strong>OS:</strong> ${vm.OSTypeId}</li>
        </ul>
      </li>
    </ul>
  </body>
</html>

