<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
    <xi:include href="layout.html" />
    <head>
        <title>Modify VM - ${vm.name}</title>
    </head>
    <body class="index">
        <dl class="breadcrumb">
            <dd><a href="/">Home</a></dd>
            <dd><a href="/vm_info/${vm.id}">${vm.name}</a></dd>
            <dd>Modify</dd>
        </dl>
        <form action="" method="post">
            <table summary="" style='text-align: right;'><tbody><tr>
                <th><label for="name">VM Name:</label></th>
                <td><input type="text" id="name" name="name" /></td>
            </tr><tr>
                <th><label for="description">Description:</label></th>
                <td><input type="text" id="description" name="description" /></td>
            </tr><tr>
                <th><label for="memory">Memory Allocated (MB):</label></th>
                <td><input type="text" id="memory" name="memory" /></td>
            </tr><tr>
                <th><label for="vram">Video Memory Allocated (MB):</label></th>
                <td><input type="text" id="vram" name="vram" /></td>
            </tr><tr>
                <th><label for="hwvirtex">Hardware Virtualization Enabled:</label></th>
                <td><input type="checkbox" id="hwvirtex" name="hwvirtex" /></td>
            </tr><tr>
                <th><label for="nestedpaging">Nested Paging Enabled:</label></th>
                <td><input type="checkbox" id="nestedpaging" name="nestedpaging" /></td>
            </tr><tr>
        <td></td>
        <td>
          <input type="submit" value="Submit" />
          <input type="submit" name="cancel" value="Cancel" />
        </td>
      </tr></tbody></table>
    </form>
    </body>
</html>
