<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
    <xi:include href="layout.html" />
    <head>
        <title>VM Info - ${vm.name}</title>
    </head>
    <body class="index">
        <h2>VM Name: ${vm.name}</h2>
        <h4>${vm.description}</h4><br />
        <div class='vm_settings'>
        <h5>Settings</h5>
        <ul>
            <li>Memory Allocated: ${vm.memorySize}MB</li>
            <li>Video Memory Allocated: ${vm.VRAMSize}MB</li>
            <li>Hardware Virtualization Enabled:
                <py:choose test="vm.HWVirtExEnabled">
                    <py:when test="0">Off</py:when>
                    <py:when test="1">On</py:when>
                    <py:when test="2">Default</py:when>
                </py:choose>
            </li>
            <li>Nested Paging Enabled:
                <py:choose test="vm.HWVirtExNestedPagingEnabled">
                    <py:when test="False">Off</py:when>
                    <py:when test="True">On</py:when>
                </py:choose>
            </li>
        </ul>
        </div>
        <div class='vm_actions'>
        <h5>Actions:</h5>
        <ul>
            <li><a href='/control_vm/${vm.id}/power_off'>Power Off VM</a></li>
            <li><a href='/control_vm/${vm.id}/pause'>Pause VM</a></li>
            <li><a href='/control_vm/${vm.id}/resume'>Resume VM</a></li>
        </ul>
        </div>
    </body>
</html>
